/* general
======== */
html,body {
  margin: 0;
  padding: 0;
}


.header {
  background-color: #1CDFF2;
}

.white {
  color: #fff;
}

.box {
  display: inline-block;
  margin-top: 20px;
  list-style-type: none;
}

.box li {
  margin-bottom: 20px;
  border: 1px solid black;
  padding-right: 40px;
}



.img {
  height: 120px;
  padding-right: 10px;
}

.media-player {
  border: 1px solid black;
}